In [5]:
# Fill in student ID and name
# 
student_id = "224001686"
student_first_last_name = "Aditya_Suhag"
print(student_id, student_first_last_name)

224001686 Aditya_Suhag

In [11]:
import firebase_admin
from firebase_admin import credentials

databaseURL = 'https://sit-225-5p-default-rtdb.firebaseio.com/'
service_account_dict = {
"type": "service_account",
  "project_id": "sit-225-5p",
  "private_key_id": "9830377238ccdf1ed2558cd7cfad0cdeeeaec253",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCQ6QdvH8fyZS2L\nNhTg9Bx19oLPSrDHpjDZalVth+/Zzs3Tc0Ti/ze22iFKN9MygHkBNFloL84+yIcw\nzOVNFYGdijcosDFQNnQdvzZyPw3q7k/KSW6uBSd2fMEQ2jiy4J1Gc7qzyasF5iky\numzCOHr34d3i5Tx7kXvVnHx3xaYOoSc7JyqcUkHmaXi1Kc/8JJofmzrU6FgrEekW\nf0shWgYJ4b/Tr7YBiovpl2M1nTE6fhgxAUUPLTbszPlb1D/B0tvwZPrp+36xSuWF\nYnQd13PjAyvJA0Dsv9bZd40Mxp1UoWD+0aS15t6hFUlp+nAklCgQZkX4Vm2HgwLf\nEQV2R+1dAgMBAAECggEAH/DVXCefrWyi0MwPZxQ3j8LRy3o1pBQcMVgQU2/CrPo6\nAREnzncd4zaKXu8WJMwPn/XXfTEIX2tY7SdEpayHYN+9z8CiZgFSr9ndWOpQGYgE\n21w7Qq1NKP9PmPTYyYjb8dMBhK5/fXHhg9Z2sYq8hBXrkB8iKUSEjK2M++N7ej6z\nTQ1UGrgm487De46uzqTz6JfVQcqGPVw/vPJ8ChJCclV0q0yMyOHPafZoaLaKr2yM\nQmlgIQ5n6IIBSm/E3qhA+b+EzY4joaRkpUAevICLefk6RHY//yZKPohcV84AHXzT\nV+vKfVmV5WO5tCamwwT0vaK2GaAen7Ro6KcJM3Gr8QKBgQDH2wyOVrrrj8Mvs8Yq\nFEt5zYen/l26WCUz4lk5IUWVvAp5sstVMAoruYiwO/wTK/UmNt9g3RR6V4DlNjas\nu282wUdYO9y0asvgQ9m2BY9dkS8SI7HgUkSMO6mpgFylIYsSaeadMwxIjIo11L/j\na7aaPIaJz35w4bMADEtv9py4CQKBgQC5nn2+Sbc+Tvble6qnHSIIYK8Mp8cOW/nq\n7H7f2L/58o7IbqbCEV58h2S9myWExdhM1BlbjZfz/etUh/zykHvpskicIXIfnlVw\nrI0hAb5M+25j/oCf1ieVosg/JkJvA/UFA6QybASb7crdSRt8JjR5iNmCroz3V9hP\nybVGD6kXtQKBgQCv0DaSfR/AnF6z9y1r1SC0jSc6lR11EZfgtc2R4YAqghqhBrWz\nQiigYH4rswlFAFWQAZOuza33FkVQ3sloWRc0DwGpUDgPCyhBKM88PlXplQ/YoEgZ\ns6WTy+SsNTzLE+AZGcqDHeY/aEspofgQo7AmrPoZ/8wWl6Z1c1tlqoghqQKBgF6F\ni+jDpxGOqoGPqQYyeqsjeOCL63yvb6OmzLD2skP4tabxWe/HYoMteypmgAONsCjn\ndQY/I1r3Ocgw+6kV1FPcGseO7IuXWFDpPXDKb3rKKpu29Q7vwfacDzbBJ+FadYIZ\nKZsXkH1K6RwoZ1ugJOaivoiilFw8GoX+5FWKEgRlAoGABqpv4CGxzXfvgsoFo7e3\nSlR0D4oL7dPwM6FJKnfC//8Khif2/JSxIW4GvuxssHe122bCs7vMoWnQNRskhHDj\nOrvwZEFRoF2v2eT0dmKQ5FHK36vKsnknT4i0xO4gYiSOcxTp1mE1OG9x9OGrg9t5\nGJEDjLu+2solG52bPtzecZo=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-fbsvc@sit-225-5p.iam.gserviceaccount.com",
  "client_id": "112142944362554566299",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40sit-225-5p.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"}
cred_obj = credentials.Certificate(service_account_dict)
firebase_admin.initialize_app(cred_obj, {
    'databaseURL': databaseURL
})

In [12]:
from firebase_admin import db

# A reference point is always needed to be set
# before any operation is carried out on a database.
# 
ref = db.reference("/")

# JSON format data (key/value pair)
data = {  # Outer {} contains inner data structure
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

# JSON format data is set (overwritten) to the reference 
# point set at /, which is the root node.
# 
ref.set(data)

In [13]:
ref = db.reference("/")  # set ref point

# query all data under the ref
books = ref.get()  
print(books)
print(type(books))

# print each item separately
for key, value in books.items():
    print(f"{key}: {value}")


# Query /Book1
ref = db.reference("/Book1")
books = ref.get()
print(books)

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>
Book1: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}
Book2: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}
Book3: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}
Book4: {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}
{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

In [14]:
# Write using push() function
# Note that a set() is called on top of push()
# 
ref = db.reference("/")
ref.set({
	"Books":
	{
		"Best_Sellers": -1
	}
})

ref = db.reference("/Books/Best_Sellers")

for key, value in data.items():
	ref.push().set(value)

In [15]:
# Update data
# 
# Requirement: The price of the books by 
# J. R. R. Tolkien is reduced to 80 units to 
# offer a discount.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		value["Price"] = 90
		ref.child(key).update({"Price":80})

{'-OXfWsFtvX85siQtxGrK': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-OXfWsPOY_b14Fx9OdPz': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-OXfWshL-iumEMjOltiO': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-OXfWswVR8zOaGI79eMP': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [16]:
# Let's delete all best seller books 
# with J.R.R. Tolkien as the author.
# 
ref = db.reference("/Books/Best_Sellers")

for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		ref.child(key).set({})

In [17]:
# Delete all best_seller data.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
print(type(best_sellers))

{'-OXfWswVR8zOaGI79eMP': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>

In [18]:
ref = db.reference("/Books/Best_Sellers")
ref.set({})